@import "tailwindcss";

@theme {
  --color-beige: #dcc1ab;
  --color-green: #1b5b31;
  --color-grey: #f5f0ec;
}

.button-next,
.button-prev {
  cursor: pointer;
  display: inline-block;
  background-color: #f5f0ec;
  padding: 2em;
}
.button-next {
  transform: rotate(270deg);
}

.button-prev {
  transform: rotate(90deg);
}

.masonry-grid {
  display: flex;
  gap: 2em;
}

.masonry-grid_column {
  background-clip: padding-box;
}

.masonry-grid_column > img {
  max-height: 300px;
  object-fit: cover;
  width: 100%;
  margin-bottom: 25px;
}
